.animate span{
	display: block;
	position: relative;
	text-align: center;
}
.animate.backwards > span{
	animation: animateBackwards 0.5s ease-in-out 
forwards;
}
.animate.forwards > span{
	animation: animateForwards 0.5s ease-in-out 
forwards;
}
.animate.mixed > span:nth-child(even){
	animation: animateBackwards 0.5s ease-in-out 
forwards;
}
.animate.mixed > span:nth-child(odd){
	animation: animateForwards 0.5s ease-in-out 
forwards;
}@keyframes animateForwards {
	from { top: 0; transform: rotate(0deg); }
	to { top: .9em; transform: rotate(-15deg); }
}
@keyframes animateBackwards {
	from { top: 0; transform: rotate(0deg); }
	to { top: 1em; transform: rotate(25deg); }
}